<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <h1>Posts</h1>
    <div>
      #foreach($post in $posts)
        <div>
          <h2>$post.title</h2>
          <small>$post.createdAt</small>
          <p>$post.content</p>
        </div>
      #end
    </div>
  </main>
</body>
</html>
